<div class="ui container">

  <h2 class="ui header">
    <i class="circular female pink icon"></i>
    <div class="content">
      Mädchen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>
  <app-names-list [names]="girls" [showIcon]="false"
    (liked)="reloadData([Gender.Female])">
  </app-names-list>

  <h2 class="ui header">
    <i class="circular male blue icon"></i>
    <div class="content">
      Jungen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>
  <app-names-list [names]="boys" [showIcon]="false"
    (liked)="reloadData([Gender.Male])">
  </app-names-list>
</div>
