<div class="ui container">
  <div class="ui fluid massive icon input">
    <i class="search icon"></i>
    <input #searchBox id="search-box"
          (input)="search(searchBox.value)"
          (change)="term = searchBox.value"
           type="text" placeholder="Name suchen...">
  </div>

  <br><br>
  <app-names-list [names]="names$ | async"></app-names-list>

  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="search icon"></i>
      Name nicht gefunden?
    </div>
    <a class="ui button" [routerLink]="['/name/new', term || '']">Hinzufügen</a>
  </div>
</div>
