<div class="ui container">

  <h2 class="ui header">
    <i class="circular female icon"></i>
    <div class="content">
      Mädchen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>
  <app-name-list [names]="girls" [showIcon]="false"></app-name-list>

  <h2 class="ui header">
    <i class="circular male icon"></i>
    <div class="content">
      Jungen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>
  <app-name-list [names]="boys" [showIcon]="false"></app-name-list>
</div>
