<div class="ui container">

  <h2 class="ui header">
    <i class="circular female icon"></i>
    <div class="content">
      Mädchen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>

  <div class="ui centered cards">
    <div class="card">
      <div class="content">
        <div class="header">
          <i class="circular female icon"></i>
          Rebekka
        </div>
        <div class="description">
          hebräisch: die Bestrickende, die Betörende, Mastkalb
        </div>
      </div>
      <div class="extra content">
        <span class="left floated ">
          <button class="circular ui basic icon button">
            <i class="thumbs up icon"></i>
          </button>
          123 Likes
        </span>
        <span class="right floated">
          <button class="circular ui basic icon button">
            <i class="thumbs down icon"></i>
          </button>
          5 Dislikes
       </span>
      </div>
    </div>
  </div>

  <h2 class="ui header">
    <i class="circular male icon"></i>
    <div class="content">
      Jungen
      <div class="sub header">Die beliebtesten Namen</div>
    </div>
  </h2>
</div>
