/* You can add global styles to this file, and also import other style files */

body, html {
  scroll-behavior: smooth;
}

#page-content {
  margin-bottom: 1em;
}

.fadein {
  -webkit-animation: fadein 1s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes fadein {
  from {
      opacity: 0
  }

  to {
      opacity: 1
  }
}
