<div class="ui container">
  <div class="ui cards">
    <div *ngFor="let name of names" class="ui fluid card fadein">
      <div class="content">
        <div class="header">
          <i [ngClass]="getGenderIconCssClass(name)"></i>
          {{ name.name }}
          <div class="right floated">
            <a [routerLink]="['/name', name._id]" routerLinkActive="router-link-active"  class="ui mini icon basic button">
              <i class="pencil icon"></i>
            </a>
          </div>
        </div>
        <div class="description">
          {{ name.meaning }}
        </div>
      </div>
      <div *ngIf="!isRatedToday(name)" class="extra content">
        <span (click)="like(name, true)" class="left floated star icon">
          <i class="thumbs up icon"></i>
          {{ name.likes }} Likes
        </span>
        <span (click)="like(name, false)" class="right floated like icon">
          <i class="thumbs down icon"></i>
          {{ name.dislikes }} Dislikes
        </span>
      </div>
      <div *ngIf="isRatedToday(name)" class="extra content">
        <span class="left floated">
          <i class="thumbs up icon"></i>
          {{ name.likes }} Likes
        </span>
        <span class="right floated">
          <i class="thumbs down icon"></i>
          {{ name.dislikes }} Dislikes
        </span>
      </div>
      <div *ngIf="isRatedToday(name)" class="extra content">
        <span>
          <i class="calendar check outline icon"></i>
          Heute schon bewertet.
        </span>

      </div>
    </div>
  </div>
</div>
