<div class="ui container">
  <div class="ui cards">
    <div *ngFor="let name of names" class="ui fluid card">
      <div class="content">
        <div class="header">
          <i [ngClass]="getGenderIconCssClass(name)"></i>
          {{ name.name }}
          <div class="right floated">
            <button class="ui mini icon basic button">
              <i class="pencil icon"></i>
            </button>
          </div>
        </div>
        <div class="description">
          {{ name.meaning }}
        </div>
      </div>
      <div class="extra content">
        <span class="left floated star icon">
          <i class="thumbs up icon"></i>
          {{ name.likes }} Likes
        </span>
        <span class="right floated like icon">
          <i class="thumbs down icon"></i>
          {{ name.dislikes }} Dislikes
        </span>
      </div>
    </div>
  </div>
</div>
